.skills__principal{
    margin-top: 5rem;
    margin-bottom: 9rem;
    .code__editor__principal__header__main{
        display: none;
    }

    .code__editor__principal__main__description{
        .code__editor__principal__main__description-text{
            width: 90rem;
            margin: 0 auto;
            font-size: 1.7rem;
            @include tablet-max{
                width: auto;
            }
        }
    }
}