{% extends 'layouts/layout.html' %}
{% load static %}


{% block title %} {{title}} {% endblock %}



{% block content%}

<main class="contenedor main__principal main__principal__child main__principal__child-about">
    <section class="main__principal__text">
        <div class="main__principal__text__header">
            <h1 class="main__principal__text__header-slogan ">Clients <span class="main__principal__text__header-slogan--color">Portfolio</span></h1>
        </div>

        <div class="main__principal__text__description">
            <p class="main__principal__text__description-more">
                Blog posts from Parcel on email development and product updates.
            </p>
        </div>
    </section>

</main>

<section class="contenedor code__editor__principal__main code__editor__principal__main-projects portfolio__project">
    <section class="code__editor__principal__main__skills-3">
        {% for proyectos in proyectosWeb %}
            <a class="code__editor__principal__main__skills__item code__editor__principal__main__skills__item-backgroundMove" href="{{proyectos.enlace_proyecto}}" target="_blank">
                <h3 class="code__editor__principal__main__skills__item-title">{{proyectos.nombre_proyecto}} <i class="bi bi-box-arrow-up-right"></i></h3>
                <p class="code__editor__principal__main__skills__item-text">{{proyectos.contenido_proyecto}}</p>
            </a>
        {% endfor %}
    </section>
</section>

<section class="contenedor code__editor__principal__main delete__margin__top">

    <section class="code__editor__principal__header__main">
        <h3 class="code__editor__principal__header__main-subtitle">The benefits</h3>
        <h1 class="code__editor__principal__header__main-title code__editor__principal__header__main-title-small"> <span class="code__editor__principal__header__main-title-color">Maintenance</span> and updates in our projects.</h1>
    </section>

    <section class="code__editor__principal__main__description">
        <p class="code__editor__principal__main__description-text">
            We always focus on providing the respective maintenance and releasing new updates once the project is 
            completed, ensuring that the software is always up-to-date with the latest versions.
        </p>

    </section>


    <article class="code__editor__principal__main__grid">
        <section class="code__editor__principal__main__skills-2">
            <article class="code__editor__principal__main__skills__item">
                <div class="code__editor__principal__main__skills__item-svg">
                    <div class="code__editor__principal__main__skills__item-svg-box">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-width="0" aria-hidden="true" class="base__Svg-vwdsuc-1 base___StyledSvg-vwdsuc-2 empIYT fVVupI with-spacing__WithSpacingComponent-sc-1358i4z-0 iJBDWK with-position__WithPositionComponent-sc-1fbffe1-0 kXovjZ with-display__WithDisplayComponent-i9boao-0 gYCHWG"><path fill="none" d="M0 0h24v24H0z"></path><path d="M13 1l.001 3.062A8.004 8.004 0 0119.938 11H23v2l-3.062.001a8.004 8.004 0 01-6.937 6.937L13 23h-2v-3.062a8.004 8.004 0 01-6.938-6.937L1 13v-2h3.062A8.004 8.004 0 0111 4.062V1h2zm-1 5a6 6 0 100 12 6 6 0 000-12zm0 4a2 2 0 110 4 2 2 0 010-4z"></path></svg>
                    </div>
                </div>

                <div class="code__editor__principal__main__skills__item-grid">
                    <h3 class="code__editor__principal__main__skills__item-title">Bug Fixes</h3>
                    <p class="code__editor__principal__main__skills__item-text">
                        Our bug fixing process begins with identifying the problem. We work closely with you to understand the symptoms of the issue. 
                    </p>
                </div>

            </article>
    
            <article class="code__editor__principal__main__skills__item">
                <div class="code__editor__principal__main__skills__item-svg">
                    <div class="code__editor__principal__main__skills__item-svg-box">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-width="0" aria-hidden="true" class="base__Svg-vwdsuc-1 base___StyledSvg-vwdsuc-2 empIYT fVVupI with-spacing__WithSpacingComponent-sc-1358i4z-0 iJBDWK with-position__WithPositionComponent-sc-1fbffe1-0 kXovjZ with-display__WithDisplayComponent-i9boao-0 gYCHWG"><path fill="none" d="M0 0h24v24H0z"></path><path d="M11.141 2h1.718c2.014 0 3.094.278 4.072.801a5.452 5.452 0 012.268 2.268c.523.978.801 2.058.801 4.072v5.718c0 2.014-.278 3.094-.801 4.072a5.452 5.452 0 01-2.268 2.268c-.978.523-2.058.801-4.072.801H11.14c-2.014 0-3.094-.278-4.072-.801A5.452 5.452 0 014.8 18.931c-.522-.978-.8-2.058-.8-4.072V9.14c0-2.014.278-3.094.801-4.072A5.452 5.452 0 017.07 2.801C8.047 2.278 9.127 2 11.141 2zM11 6v5h2V6h-2z"></path></svg>
                    </div>
               </div>
               <div class="code__editor__principal__main__skills__item-grid">
                <h3 class="code__editor__principal__main__skills__item-title">Security Updates</h3>
                <p class="code__editor__principal__main__skills__item-text">
                    Applying security patches to protect the software against known vulnerabilities and keep it safe from potential cyber attacks.
                </p>
               </div>

            </article>
    
            <article class="code__editor__principal__main__skills__item">
                <div class="code__editor__principal__main__skills__item-svg">
                    <div class="code__editor__principal__main__skills__item-svg-box">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-width="0" aria-hidden="true" class="base__Svg-vwdsuc-1 base___StyledSvg-vwdsuc-2 empIYT fVVupI with-spacing__WithSpacingComponent-sc-1358i4z-0 iJBDWK with-position__WithPositionComponent-sc-1fbffe1-0 kXovjZ with-display__WithDisplayComponent-i9boao-0 gYCHWG"><path fill="none" d="M0 0h24v24H0z"></path><path d="M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9zM12 17a5 5 0 100-10 5 5 0 000 10zm0-2a3 3 0 110-6 3 3 0 010 6z"></path></svg>
                    </div>
                </div>
                <div class="code__editor__principal__main__skills__item-grid">
                    <h3 class="code__editor__principal__main__skills__item-title">Technical Support</h3>
                    <p class="code__editor__principal__main__skills__item-text">
                        Providing technical assistance and support to software users, including issue resolution and answering frequently asked questions.
                    </p>
                </div>

            </article>
        </section>

        <div class="code__editor__principal__main__img">
            <img src="{% static 'build/img/comparacion.svg' %}" alt="brand">
        </div>    
    </article>


</section>


<section class="contenedor code__editor__principal__main code__editor__principal__contacto code__editor__principal__main-margin">

    <article class="code__editor__principal__main__grid">
        <section class="code__editor__principal__header__main">
            <h1 class="code__editor__principal__header__main-title code__editor__principal__header__main-title-small">Ready to give it a try?</h1>
            <h3 class="code__editor__principal__header__main-subtitle">Upgrade your workflow. No credit card required.</h3>
        </section>

        <section class="header__principal__login">
            <ul class="header__principal__login__list">
                <li class="header__principal__login__list__item">
                    <a class="header__principal__login__list__item-button" href="https://www.linkedin.com/in/ricardo-martinez-b3b15622a/" target="_blank"><i class="bi bi-linkedin"></i> Visit My Linkedln </a>
                </li>
                <li class="header__principal__login__list__item">
                    <button class="header__principal__login__list__item-button download_cv" ><i class="bi bi-floppy"></i> Download CV </button>
                </li>
            </ul>
        </section>
    </article>


</section>


{% endblock %}



{% block scripts %}


    <script src="{% static 'build/js/index.js' %}" ></script>
    <script src="{% static 'build/js/alerts.js' %}"></script>


    <script>
        let download_cv = document.querySelector('.download_cv')  
        download_cv.addEventListener("click", () =>{
          Swal.fire({
              title: "Are you sure?",
              text: "The file will download to your computer.",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, download"
            }).then((result) => {
              if (result.isConfirmed) {
                window.open("{% static 'build/pdf/resumen.pdf' %}", '_blank');
              }
            });
        })
    </script>
{% endblock %}