// Colores
$white: #FCFDFF;
$black: #0D1117;
$sky: #198CFF;
$skylight: #56ABFF;
$skylow: #0989c4;
$skyextra: #389BFF;
$gray: #E7EFF9;
$graylow: #97A6B9;
$grayextra: #6c7683;
$graylight: #C8D3E1;
$bluelow: #3a4252;